@font-face {
    font-family: 'pixel';
    src: url('../fonts/llpixel/LLPIXEL3.ttf');
}

body{
    font-family: 'pixel';
}

header{
    background-color: beige;
    border: do;
    display: flex;
    justify-content: space-around;
}
main{
    display:flex ;
    justify-content: space-between;
}
h1{
    font-size: 10vh;
    margin: auto;
}
p{
    font-size: 3vh;
    margin: auto;
}
a{
    background-color: white;
}
#mainDraw{
    background-color: beige;
    height: fit-content;
    max-width: fit-content;
}
#titre{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#titre span{
    margin: auto;
}
.exempleImg{
    width: 10vw;
}
.exempleDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10vw;
}
.colorSpan{
    display: block;
    width: 5vw;
    height: 5vh;
    border: solid black;
}
.colorSpan:hover{
    border: solid white;
    transform: scale(1.5);
   
}
.toColor:hover{
    border: solid white;
    transform: scale(1.5);
   
}
.colorPick{
    display: flex;
    flex-direction: column;
}
.colorDiv{
    display: flex;
}
.whiteBorder{
    border: solid white;
}
.toColor{
    display: block;
    width: 5vh;
    height: 5vh;
}

@media screen and (max-width: 900px) {
    .exempleDiv{
        display: none;
    }
    #mainDraw{
        width: 100%;
    }
    .toColor{
        height: 2vh;
    }
    h1{
        font-size: 5vh;
    }
}